<!DOCTYPE html>
<html lang="en">
<head>
  <title>Calc App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <h1 class="h3 mb-3 font-weight-normal">Calculator App</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h5>{{message}}</h5>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/addition">
        <input type="submit" value="addition" />
    </form>
    <br>
    <form action="/subtraction">
        <input type="submit" value="subtraction" />
    </form>
    <br>
    <form action="/division">
        <input type="submit" value="division" />
    </form>
    <br>
    <form action="/multiplication">
        <input type="submit" value="multiplication" />
    </form>
    <br>
    <form action="/modulus_division">
        <input type="submit" value="modulus division" />
    </form>


</body>
</html>