<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="Description of our page">
            <meta name="author" content="Greg">
            <link rel="icon" href="https://en.wikipedia.org/wiki/Smiley#/media/File:Breathe-face-smile.svg">

            
            <title>Login Page</title>
            <!-- Bootstrap core CSS -->
            <link href=
        </head>
</html>